<?xml version='1.0' encoding='utf-8'?>
<robot name="trajsim2d_manipulator">
  <trajsim2d>
    <base_offset>0.2</base_offset>
    <link_width>0.15</link_width>
    <joint_radius>0.05</joint_radius>
    <max_velocity>0.35</max_velocity>
    <joint_position_limit>1.176005207095135</joint_position_limit>
    <joint_torque_limit>25.0155</joint_torque_limit>
    <clip_ends_default>0.01</clip_ends_default>
    <link_lengths>1.0 0.75</link_lengths>
    <link_masses>0.4 1.2 0.8</link_masses>
    <base_transform>0.0 -1.0 1.5 1.0 0.0 -0.25 0.0 0.0 1.0</base_transform>
    <end_effector>
      <adhesion>2.1</adhesion>
      <width>0.4</width>
      <friction>0.7</friction>
    </end_effector>
  </trajsim2d>
  <link name="base_link" />
  <link name="link_1" />
  <joint name="joint_1" type="revolute">
    <parent link="base_link" />
    <child link="link_1" />
    <limit lower="-1.176005207095135" upper="1.176005207095135" effort="25.0155" velocity="0.35" />
  </joint>
  <link name="link_2" />
  <joint name="joint_2" type="revolute">
    <parent link="link_1" />
    <child link="link_2" />
    <limit lower="-1.176005207095135" upper="1.176005207095135" effort="25.0155" velocity="0.35" />
  </joint>
</robot>
